/*

less than 1199px

*/
@media (max-width: 1200px){

}

/*

less than 991px

*/
@media (max-width: 991px){
    .container{
        max-width: 700px;
    }
    .carousel{
        &__inner{
            width: 650px;
        }
    }
}
/*

less than 767px

*/
@media (max-width: 767px){
    .title{
        font-size: 27px;
        &_left{
            font-size: 35px;
        }
    }
    .container{
        max-width: 500px;
    }
    .header {
        &__logo{
            width: 220px;
        }
        &__official{
            display: none;
        }
    }
    .promo{
        &__header{
            font-size: 40px;
        }
        &__subheader{
            font-size: 21px;
        }
        &__icons{
            width: 390px;
        }
    }
    .button{
        &_main{
            width: 250px;
        }
    }
    .advantages{
        padding: 69px 0;
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__item{
            max-width: 400px;
            margin-bottom: 40px;
        }
    }
    .consultation{
        padding: 68px 0;
        &__descr{
            margin-top: 20px;
        }
    }
    .carousel{
        padding: 58px 0;
        &__inner{
            width: 450px;
        }
    }
}
/*

less than 575px

*/
@media (max-width: 575px){
    .title{
        font-size: 20px;
        &_left{
            font-size: 28px;
            line-height: 29px;
            text-align: center;
        }
    }
    .container{
        width: 300px;
    }
    .header{
        &__official{
            display: none;
        }
        &__logo{
            width: 150px;
        }
        &__phone{
            font-size: 15px;
        }
    }
    .button {
        width: 130px;
        &_main{
            width: 270px;
        }
        &_submit{
            width: 270px;
            font-size: 14px;
        }
    }
    .promo{
        padding: 21px 0;
        min-height: 500px;
        &__header{
            font-size: 30px;
            line-height: 32px;
        }
        &__subheader{
            margin: 0;
            font-size: 18px;
        }
        &__icons{
            display: none;
        }
        &__wrapper{
            padding: 0 5px;
            margin-top: 60px;
            align-items: center;
        }
    }
    .advantages{
        padding: 44px 0;
        &__item{
            max-width: 250px;
        }
    }
    .consultation{
        &__descr{
            text-align: center;
            font-size: 16px;
        }
    }
    .feed-form{
        width: 270px;
        display: block;
        margin: 0 auto;
        margin-top: 36px;
        input{
            width: 270px;
        }
    }
    .carousel{
        padding: 58px 0;
        &__inner{
            width: 300px;
        }
    }
}